.wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  width:100vw;
  
}

header{
  width: 99vw;
  background: url(../src/images/table.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  height:30vh;
 text-align: center;


}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

li a{
  font-family:'Josefin Sans', sans-serif;
  font-size:1.4em;
  margin:20px;
  color:#2F3030;
  text-decoration: none;
  padding:7px;
}

.linkIsActive{
  text-decoration: underline #D9350B;
  color:#2F3030;

}

h1{
  font-family: 'Paytone One', sans-serif;
  color:#2F3030;
  font-size:4em; 
  letter-spacing: 5px;
  padding-top:150px;
  height:230px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;

}
h1 a{
  color:#2F3030;
 text-decoration:none;
}


.formWrapper{
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 4px 37px -12px rgb(18, 13, 26); 
  width:80%;
  justify-content:center;
  margin-top:70px;


}
.dateForm{
  display:flex;
  flex-direction:column;
  margin:15px;

}
p{
  font-family:'roboto';
color:black;
}
.timeButtons{
text-align: center;
margin:20px;

}
.timeButtons button{
margin:5px;
}

button{
width:50%;
margin:0px auto;
border-radius:2px;
color:black;
cursor:pointer;
border-style:none;
height:30px;
font-family:'Open Sans', sans-serif ;
background: white;
}

button:hover{
  color: white;
  background-color:black;
}

.adminButton {
  width: 100%;
  text-align: center;
}

input {
  max-width:100%;
border-radius:2px;
border-style:none;
  margin:10px;
  height:30px;
  font-size:0.9em;
  padding:5px;
}

.displayBookings ul{
  margin-top:100px;
  list-style: none;
}
.displayBookings button{
  border:black solid 1px;
}

.changeForm {
  position: absolute;
  z-index: 1;
  background-color: grey;
  color: black;
  height: 200px;
  width: 200px;
}
.errorMessage {
  background-color: white;
  color: #5c3927;
  border: 4px solid #5c3927;
  border-radius: 15px;
  text-align: center;
  padding: 3%;
  min-height: 15vh;    
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}


.hidden {
	display: none;
}
.display {
	display: block;
}


.displaySmall, .displayBig{
 text-align: center;
 width:99%;
 margin-top:-50px;
} 

.displaySmall img, .displayBig img{
  width:80%;
  -webkit-box-shadow: 0px 4px 30px -7px  grey; 

 } 

 .contact{
text-align:center;
 }
 .contact img{
width:30%;
 }

footer{
  height:200px;
  margin-top:50px;
  background-color:whitesmoke;
  width:100vw;
  text-align:center;

}

.loader{
  position: absolute;
  align-content: center;
  top: 50%;
}



@media only screen 
  and (min-device-width: 768px)  {

    header{
      width: 99vw;
      background: url(../src/images/table.jpg); 
      background-repeat: no-repeat;
      background-size: cover;
      height:30vh;
     text-align: center;
    background-position:  100% 75%;
    
    }

    h1{
      padding-top:150px;
    }
  
    .wrapper{
      display:flex;
      flex-direction:column;
      width:100vw;
    }
    

    .displaySmall{
      text-align: center;
     margin-top:-50px;
      /* width: 100vw; */
      height:auto;

    }
    .displaySmall img{
      width:50%;
      cursor:pointer;
      -webkit-box-shadow: 0px 4px 30px -7px  grey; 
    
  }
    .displayBig{
      text-align: right;
       width: 80vw; 
       text-align: center;

    }
    .displayBig img{
      width:50%;
      -webkit-animation: scale-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: scale-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
    
    }

 
}


@media screen 
  and (min-device-width: 1024px) {

     .formWrapper{
      background-color: whitesmoke;
      -webkit-box-shadow: 0px 4px 37px -12px rgb(18, 13, 26); 
      width:30%;
      height:250px;
      justify-content:center;
      margin-top:40px;
  
    }
  }

 @-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}


