.wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  width:100vw;
  
}

header{
  width:100vw;
  background: url(../src/images/table.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  text-align: center;
  background-position:  100% 95%;


}

ul{
  list-style: none;
  justify-content: center;
  padding:10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
}
li{
  padding-bottom:5px;
}
li a{
  font-family:'Josefin Sans', sans-serif;
  font-size:1.3em;
  margin:10px;
  color:#2F3030;
  text-decoration: none;
  padding:7px;
}

.linkIsActive{
  text-decoration: underline #D9350B;
  color:#2F3030;

}

h1{
  font-family: 'Paytone One', sans-serif;
  color:#2F3030;
  font-size:2.6em; 
  letter-spacing: 5px;
  display:flex;
  justify-content:center;
  align-items: center;
  height:230px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;

}
h1 a{
  color:#2F3030;
 text-decoration:none;
}

h2, h3, h4{
  font-family: 'Lato', sans-serif;
  color:#2F3030; 
  letter-spacing: 3px;
}
h4{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}


.formWrapper{
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 4px 30px -7px  grey; 
  width:80%;
  justify-content:center;
  margin-top:70px;
  padding:20px;
  margin-bottom:20px;
}

.dateForm{
  display:flex;
  flex-direction:column;
  margin:15px;
  text-align:center;

}
p{
  font-family:'Josefin Sans', sans-serif;
  color:black;
  font-size:1.2em;
	}
.timeButtons{
	text-align: center;
	margin:20px;

	}
.timeButtons button{
	margin:5px;
  }


button{
width:95px;
margin:5px auto;
border-radius:2px;
color:black;
cursor:pointer;
border-style:none;
padding:10px;
font-family:'lato', sans-serif ;
background: white;
font-weight:700;
font-size:0.9em;
}


.adminButton {
  width: 100%;
  text-align: center;
}
.reservationsButton {
margin:3px;
height:100%;
} 
.cancelButtonWrapper{
  display:flex;

}
#cancelButton{
  margin-bottom:20px;
}
input {
  background-color:white;
  width:auto;
  border-radius:2px;
  border-style:none;
  margin:10px;
  height:30px;
  font-size:0.9em;
  padding:5px;
  font-family:'lato', sans-serif;
}

.displayBookings ul{
  margin-top:100px;
  list-style: none;
}
.displayBookings button{
  border:black solid 1px;
}

#submitButton{
  width:150px;
 
}


.changeForm {
  position: absolute;
  z-index: 1;
  background-color: grey;
  color: black;
  height: 200px;
  width: 200px;
}
.changeRes {
	text-align: center;
	padding: 5%;
}
.errorMessage {
  background: white;
  border-radius:5px;
  box-shadow:0px 6px 30px -7px  grey;
  text-align: center;
  padding: 3%;
  min-height: 15vh;    
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.errorMessage p {
  color:#D9350B;
  font-size:1.2em;
}
.errorMessage img{
  width:60%;
  margin-top:-50px;
}
.errorMessage button{
background-color:#D9350B;
color:whitesmoke;
}

.hidden {
	display: none;
}
.display {
	display: block;
}


.displaySmall, .displayBig{
 text-align: center;
 width:99%;
 margin-top:-30px;
} 

.displaySmall img, .displayBig img{
  width:80%;
  -webkit-box-shadow: 0px 4px 30px -7px  grey; 

 } 

 .eachReservation{
  margin-bottom:70px;
 }

 .contact{
    display:flex;
    flex-direction:column;
   align-items: center;
   text-align:center;

 }
 .contact p{
 letter-spacing:2px;
 line-height: 1.6;
   }
 .contact img{
width:60%;
margin:5px;
 }

footer{
  height:250px;
  margin-top:50px;
  background-color:whitesmoke;
  width:100vw;
  text-align:center;
  padding-bottom:20px;
  line-height: 1.6;
  


}
footer img{
  width:10%;
  padding:20px;
}



.loader{
  position: absolute;
  align-content: center;
  top: 50%;
}



@media only screen 
  and (min-device-width: 768px)  {
    
    .wrapper{
      display:flex;
      flex-direction:column;
      width:100vw;
      height:100%;
    }
    header{
      width: 99vw;
      background: url(../src/images/table.jpg); 
      background-repeat: no-repeat;
      background-size: cover;
     text-align: center;
    background-position:  100% 75%;
    height:40vh;
    
    }
  h1{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:3.5em;
    padding-top:40px;

  }
    
    ul{
      display: flex;
      flex-direction: row;
       margin:10px;
    }
    
  .formWrapper{
    width:50%;
    }

    .displaySmall{
      text-align: center;
     margin-top:-50px;
      height:auto;


    }
    .displaySmall img{
      width:40%;
      cursor:pointer;
      -webkit-box-shadow: 0px 4px 30px -7px  grey; 
    
  }
    .displayBig{
      text-align: right;
       width: 80vw; 
       text-align: center;
       margin-top:-50px;


    }
    .displayBig img{
      width:50%;
      -webkit-animation: scale-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: scale-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
    
    }
    .displayBookings{
      overflow: scroll;
    }

    button:hover{
      color: white;
      background-color:black;
    }
    #deleteButton:hover{
    background-color:#D9350B;
    color:whitesmoke;
    border:none;
    }
    .contact img{
      width:40%;
       }

       .errorMessage {
        width: 20%;
      }
      .errorMessage img{
        margin-top:-60px;
      }

    footer{
      height:250px;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    footer img{
      width:7%;
      padding:20px;
  
    }
 
}


@media screen 
  and (min-device-width: 1024px) {


    header{
      width: 99vw;
      background: url(../src/images/table.jpg); 
      background-repeat: no-repeat;
      background-size: cover;
     text-align: center;
    background-position:100% 75%;
    
    }

    h1{
      display:flex;
      justify-content:center;
      align-items: center;
      font-size:3.5em;
    }
    .displaySmall img{
      width:60%;
    }
    .displayBig{
      text-align: right;
       width: 80vw; 
       text-align: center;
       margin-top:-50px;
    }
    .displayBig img{
      width:50%;
      -webkit-animation: scale-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: scale-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    }

    .errorMessage {
      width: 15%;
    }
    .errorMessage img{
      margin-top:-80px;
    }

    .formWrapper{
      width:30%;
    }

    .contact img{
      width:30%;
       }
    footer{
      display: flex;
      align-items: center;
      justify-content: center;  

    }
    footer img{
      width:10%;
      padding:20px;
  
    }
  }

 @-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}


